.section-title {
    text-align: center;
}

.featured-recipes {
    display: flex;
    justify-content: space-evenly;
}

.recipes {
    text-align: center;
    width: fit-content;
    max-width: fit-content;
    background-color: white;
    border-radius: 20px;
    margin: 0px 20px;
    padding: 20px;
}

#intro-heading {
    text-align: center;
}

p {
    font-weight: 300;
}

h3>a {
    color:black;
}

h3>a:hover {
    color:silver;
}

.details>p {
    margin: 0;
}