body {
    background-color: #C5E7E6;
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}

main {
    padding: 30px;
}

.title-section { 
    text-align: center;
    font-size: 40px;
    margin-bottom: 5px !important;
    margin-top: 0px;
}

.title-section>a {
    color: black;
    text-decoration: none;
    vertical-align: middle;
}

.title-section>a:hover {
    color: dimgray;
    text-decoration: none;
}

.full-nav {
    display: inline-flex;
    width: calc(100vw - 40px);
    background-color: #E2F3F2;
    padding: 20px;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-self: center;
}

.navbar>li {
    display: inline;
    font-size: 20px;
    padding-right: 15px;
}

.navbar>li>a {
    color:dimgray;
    text-decoration: none;
}

.navbar>li>a:hover {
    color:silver;
    text-decoration: none;
}

.search-container {
    align-self: center;
    max-width: fit-content;
    margin-left: auto;
}

.search {
    height: 20px;
}

img {
    object-fit: cover;
    border-radius: 20px;
}

.current-page {
    text-decoration: underline !important;
}

.current-page:hover {
    color: dimgray !important;
}

.current-page-nested {
    text-decoration: underline !important;
}

.current-page-nested:hover {
    color: silver !important;
}

input {
    border-radius: 15px;
    border: 2px solid #429E9B;
    padding: 7px;
    width: 275px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}